In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\Barry\Desktop\AUO_test\train_v2.csv')
df

,SHEET_ID,Y,Col_0001,Col_0002,Col_0003,Col_0004,Col_0005,Col_0006,Col_0007,Col_0008,...,Cat_07_A,Cat_07_B,Cat_08_A,Cat_08_B,Cat_08_C,Cat_08_D,Cat_09_A,Cat_09_B,Cat_10_A,Cat_10_B
0,SHEET_ID_001,377.256684,4.506072e-01,-8.570000e-17,5.984405e-01,-0.428022,-0.191100,2.280683e-01,3.120002e-01,1.991080,...,1,0,1,0,0,0,1,0,0,1
1,SHEET_ID_002,405.408201,-1.455613e+00,9.815540e-02,4.889561e-02,-0.834484,-1.066151,-5.740000e-16,-1.856682e-01,1.084892,...,0,1,0,1,0,0,0,1,1,0
2,SHEET_ID_003,384.422582,-1.790000e-14,-6.554302e-01,-6.950000e-16,1.645270,-1.761649,-8.741689e-01,-8.910000e-18,-0.546042,...,0,1,0,1,0,0,1,0,1,0
3,SHEET_ID_004,420.208497,-7.455119e-01,-8.098477e-01,-2.640900e-01,1.438627,-0.598152,-2.021408e+00,-2.237753e+00,0.423787,...,1,0,0,0,0,1,0,1,0,1
4,SHEET_ID_005,378.243380,4.726998e-01,4.223327e-02,1.354611e-01,0.763927,-0.810244,-3.372677e-02,-8.910000e-18,-0.443377,...,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,SHEET_ID_244,410.286330,6.962847e-01,-9.392306e-02,1.802878e+00,1.002940,-0.482785,-1.077781e+00,-8.910000e-18,-0.456235,...,1,0,0,0,0,1,1,0,1,0
244,SHEET_ID_245,392.910031,1.787221e-01,2.406657e-01,3.524558e-01,1.746690,-0.451505,-9.821458e-01,3.804807e-01,-0.278800,...,1,0,0,0,0,1,1,0,0,1
245,SHEET_ID_246,426.552829,1.774567e+00,1.271093e+00,-1.044447e+00,0.797891,-1.006341,-5.966841e-01,-5.142574e-01,0.215847,...,1,0,1,0,0,0,1,0,1,0
246,SHEET_ID_247,400.806100,1.139876e+00,-4.251524e-01,1.426394e-01,-0.004277,-0.771758,8.317270e-01,2.100393e-01,-0.962996,...,1,0,0,1,0,0,0,1,1,0
247,SHEET_ID_248,371.257433,-4.281167e-01,-2.285216e-01,-4.072163e-01,0.004381,-0.359455,1.905735e+00,-1.498164e+00,0.083450,...,1,0,1,0,0,0,1,0,1,0

In [23]:
x = df.iloc[:,2:3]
y = df.iloc[:,1]

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [25]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
def mape(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [27]:
y_pred = reg.predict(x_test)
print(mape(y_test, y_pred))

3.158069058053218